# рабочий код
# [filament_switch_sensor filament_runout]
# switch_pin: ^!PG12
# pause_on_runout: False
# runout_gcode:
#   {% if printer.idle_timeout.state|lower == "printing" and printer.pause_resume.is_paused|lower == 'false' %}
#   RESPOND PREFIX=tgalarm MSG="Filament runout"
#   PAUSE
#   {% else %}
#   RESPOND PREFIX=tgnotify MSG="Filament removed"
#   {% endif %}
# insert_gcode:
#   RESPOND PREFIX=tgnotify MSG="Filament inserted"

# Новый тестовый макрос с учетом длинны нити после датчика
# https://klipper.discourse.group/t/feature-request-filament-runout-trigger-pause-after-700mm-extruded-distance-delay/5586/3
[filament_switch_sensor filament_runout]
switch_pin: ^!PG12
pause_on_runout: False
runout_gcode:
  {% if printer.idle_timeout.state|lower == "printing" and printer.pause_resume.is_paused|lower == 'false' %}
  # для уставоки смещения датчика
  # {% set x_offset = 150 %}  #approximate x location of the runout sensor
  # {% set y_offset = 370 %}    #approximate y location of the runout sensor
  #z location not used but this can be easily extended to include a z offset if needed
  # {% set current_x = printer.toolhead.position.x %}
  # {% set current_y = printer.toolhead.position.y %}
  # {% set distance = ((x_offset - current_x)**2 + (y_offset - current_y)**2)**(1/2) %}
  # PAUSE_AFTER_D D={distance}
  PAUSE_AFTER_D D={25}

  # RESPOND PREFIX=tgalarm MSG="Filament runout"
  # PAUSE
  {% else %}
  RESPOND PREFIX=tgnotify MSG="Filament removed"
  {% endif %}
insert_gcode:
  RESPOND PREFIX=tgnotify MSG="Filament inserted"


##############
[gcode_macro PAUSE_AFTER_D]
description: Trigger to pause the print after a further 'd' mm has been extruded
variable_end_d: 0 #create variable "END_D" which is associated with the PAUSE_AFTER_D gcode macro
gcode:
  {% set d_start = printer.print_stats.filament_used|float %} #starting point is whatever the filament used is when PAUSE_AFTER_D is called
  {% set d_end = (d_start + params.D|float)|float %} #end point is start + D parameter
  SET_GCODE_VARIABLE MACRO=PAUSE_AFTER_D VARIABLE=end_d VALUE={d_end} #write the end value to the END_D gcode variable to access later
  M117 Pause at {printer["gcode_macro PAUSE_AFTER_D"].end_d|round(2)}
  UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=1 #trigger the delayed gcode below after 1 second

[delayed_gcode PAUSE_AT_D]
initial_duration: 0 #if initial_duration is zero, the delayed gcode won't start by default
gcode:
  {% set d_current = printer.print_stats.filament_used|float %} #get the current filament used
  {% if d_current < printer["gcode_macro PAUSE_AFTER_D"].end_d %} #if we aren't at the stopping point
    M117 Stopping {d_current|round(2)} {printer["gcode_macro PAUSE_AFTER_D"].end_d|round(2)}
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=1 #restart the timer on the delayed gcode
  {% else %}
    RESPOND PREFIX=tgalarm MSG="Filament runout"
    PAUSE
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=0 #set the delayed gcode duration back to zero so it doesn't keep triggering
  {% endif %}
###############

# старый макрос
# [gcode_macro FILAMENT_UNLOAD]
# gcode:
#   G1 E-50 F250

# обновленный макрос
[gcode_macro FILAMENT_UNLOAD]
gcode:
  {% set extrude_factor = printer.gcode_move.extrude_factor %}
  M221 S100

# ramming
  G1 E-4 F2000 # ?

  G1 E1.0 F1000   #1
  G1 E1.0 F1500   #2
  G1 E2.0 F2000   #4
  G1 E1.5 F3000   #5.5
  G1 E2.5 F4000   #8

  G1 E-15.0 F5000 #-15
  G1 E-14.0 F1200 #-29
  G1 E-6.0 F600   #-35

  G1 E10.0 F700   #

  G1 E-10.0 F400  #
  G1 E-20.0 F2000 #-75

  M221 S{extrude_factor * 100}

[gcode_macro UNLOAD_FILAMENT]
gcode:
  FILAMENT_UNLOAD

# старый макрос
# [gcode_macro FILAMENT_LOAD]
# gcode:
#   G91
#   G1 E50 F250
#   G4 P3000
#   ##### read E from pause macro #####
#   {% set e = printer["gcode_macro PAUSE"].extrude|float %}
#   G1 E-{e} F2100

# обновленный макрос
[gcode_macro FILAMENT_LOAD]
gcode:
  {% set extra_load = params.EXTRA_LOAD|default(0)|float %}
  {% set extrude_factor = printer.gcode_move.extrude_factor %}
  M221 S100

  G1 E20 F1500 #20
  G1 E15 F800  #35
  G1 E{20 + extra_load} F180  #55

  {% set e = printer["gcode_macro PAUSE"].extrude|float %}
  G1 E-{e} F2100

  M221 S{extrude_factor * 100}

[gcode_macro LOAD_FILAMENT]
gcode:
  FILAMENT_LOAD

# [gcode_macro PREHEAT]
# gcode:
#   {% set heater = params.HEATER|default(extruder) %}
#   {% set target = params.TARGET|default(250)|int %}
#   SET_HEATER_TEMPERATURE HEATER={heater} TARGET={target}
#   TEMPERATURE_WAIT SENSOR={heater} MINIMUM={params.MIN|default(target)} MAXIMUM={params.MAX|default(target+1)}
#   {% set klipperscreen_hack = params.MIN|default(250) %}
#   {% set klipperscreen_hack = params.TYPE|default(251) %}