# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

# See docs/Config_Reference.md for a description of parameters.

[respond]
[exclude_object]

[include kiauh_macros.cfg]

# [include pins.cfg]
[include axes.cfg]
[include extruder.cfg]
[include probe.cfg]
# [include resonance.cfg]
# [include heater_bed.cfg]
[include print_macro.cfg]
[include tmc.cfg]
# [include filament.cfg]
[include filament_sensor.cfg]
[include timelapse.cfg]


[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: Generic 3950
control = pid
pid_kp = 74.391
pid_ki = 1.968
pid_kd = 702.991
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: PA8

######## MAX31865 ########
[temperature_sensor Dryer]
sensor_type: MAX31865
sensor_pin: PD3
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
rtd_nominal_r: 1000
rtd_num_of_wires: 2
rtd_reference_r: 4300
######## MAX31865 ########

#[heater_fan fan2]
[heater_fan extruder]
pin: PD12
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[heater_fan fan3]
[temperature_fan octopus]
pin: PD13
sensor_type: temperature_mcu
min_temp: 20
max_temp: 90
target_temp: 33
max_delta: 2.0
control: watermark


[temperature_fan power]
pin: PD14
sensor_pin: PF5
# sensor_type: Generic 3950
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 90
target_temp: 33
max_delta: 2.0
control: watermark

# [temperature_sensor CPU]
# sensor_type: temperature_host
# min_temp: 0
# max_temp: 100


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2A0021000550534E4E313020-if00
restart_method: command


[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 7000
square_corner_velocity: 5.0
minimum_cruise_ratio: 0
max_z_velocity: 25
max_z_accel: 500

[firmware_retraction]
retract_length: 0.3
retract_speed: 40
unretract_speed: 40


[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 36.53
shaper_type_y: mzv
shaper_freq_y: 38.61

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[virtual_sdcard]
path: /home/user/printer_data/gcodes
# path: /home/user/3d_printing/gcodes
on_error_gcode: CANCEL_PRINT


[display_status]

[pause_resume]


[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE 

[gcode_macro M207]

gcode:
    {% set X = params.S|default(0.3)|float %}
    {% set X = params.F|default(1200)|float %}
    SET_RETRACTION RETRACT_LENGTH={S} 
    SET_RETRACTION RETRACT_SPEED={F}
    
[gcode_macro M208]
gcode:
    {% set X = params.S|default(0)|float %}
    {% set X = params.F|default(1200)|float %}
    SET_RETRACTION UNRETRACT_EXTRA_LENGTH={S} 
    SET_RETRACTION UNRETRACT_SPEED={F}

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    RESPOND PREFIX=tgalarm MSG="Change Filament"
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

