
[safe_z_home]
speed: 200
# home_xy_position: 88,108
home_xy_position: 109.5,108
z_hop: 10
z_hop_speed: 100.0

[bed_mesh]
speed = 500
horizontal_move_z = 10
# mesh_min: 4,20
# mesh_max: 227,220
mesh_min: 10,10
mesh_max: 225,225
probe_count = 9,9
algorithm = bicubic


[probe]
pin: !PB7
x_offset: 6 #Оффсет между соплом и тачем по оси экструдера. Если тач расположен справа от сопла - значение оффсета положительное, если слева - отрицательное;
y_offset: 23 #Оффсет между соплом и тачем по оси стола. Если тач расположен за соплом - значение оффсета положительное. Если перед ним - отрицательное;
z_offset: 4.655 #4.835 #4.91 #4.93 # Оффсет между соплом и тачем по Z (чем меньше цифра, тем выше зазор между соплом и столом)
speed: 10 # Скорость (в мм/с) оси Z при измерении. По умолчанию 5 мм/с.
samples: 2
samples_tolerance: 0.01 #Максимальное расстояние по оси Z (в мм), на котором образец может отличаться от других образцов. При превышении этого допуска либо сообщается об ошибке, либо попытка повторяется (см. samples_tolerance_retries). Значение по умолчанию равно 0,100мм;
samples_tolerance_retries: 20 #Количество повторных попыток, если будет найден образец, превышающий допустимую выборку. При повторной попытке все текущие образцы будут отброшены, и попытка проверки будет повторена. Если при заданном количестве повторных попыток не удается получить допустимый набор выборок, то выдается сообщение об ошибке. Значение по умолчанию равно нулю, что приводит к выдаче сообщения об ошибке при первой выборке, превышающей значение samples_tolerance.
sample_retract_dist: 1 # Расстояние (в мм), на которое необходимо поднимать головку инструмента между каждой пробой (Если проб больше 1). Значение по умолчанию равно 2 мм;
lift_speed: 30 # Скорость (в мм/с) по оси Z при подъеме датчика между

# activate_gcode:
  # SET_SERVO SERVO=probe ANGLE=155
  # G4 P300
# deactivate_gcode:
  # SET_SERVO SERVO=probe ANGLE=90
  # G4 P300
  #SET_SERVO SERVO=probe WIDTH=0
  #G4 P300

[screws_tilt_adjust]
screw1: 21,182
screw2: 21,12
screw3: 191,12
screw4: 191,182
screw1_name: bottom_left
screw2_name: bottom_right
screw3_name: top_right
screw4_name: top_left
screw_thread: CW-M4
speed: 150
horizontal_move_z: 10