[tmc2209 stepper_x]
uart_pin: PC4
run_current: 1.2
hold_current: 1.0
interpolate: False
stealthchop_threshold: 200
diag_pin: PG6
driver_SGTHRS: 125 # Чувствительность
# chopper settings
# https://www.youtube.com/watch?v=uwkFOvV1BlA
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 0


[tmc2209 stepper_y]
uart_pin: PD11
run_current: 1.2
hold_current: 1.0
interpolate: False
stealthchop_threshold: 200
diag_pin: PG9
driver_SGTHRS: 125 # Чувствительность


[tmc2209 stepper_z]
uart_pin: PC6
##diag_pin: PG3
run_current: 1.2
hold_current: 0.8
interpolate: False
stealthchop_threshold: 200


[tmc2209 extruder]
uart_pin: PF2
run_current: 0.9
hold_current: 0.9
interpolate: False
stealthchop_threshold: 0
